:root {
    --check: #F4F6F8;
    --font: #19202D;
    --card-bg: #FFFFFF;
    --violet: #5964E0;
    --white: #FFFFFF;
    --light-violet: #939BF4;
    --font-dark-gray: #6E8098;
    --bg-desktop-main: #F4F6F8;
}

.dark {
    --check: #6E8098;
    --font: #FFFFFF;
    --card-bg: #19202D;
    --violet: #5964E0;
    --white: #FFFFFF;
    --light-violet: #939BF4;
    --font-dark-gray: #6E8098;
    --bg-desktop-main: #121721;
}

.details-page {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.head {
    margin: 6em 0 4em 0;
    width: 60vw;
    height: 140px;
    display: flex;
    align-items: center;
    transform: translate(0, 0);
    border-radius: 0 10px 10px 10px;
    background-color: var(--card-bg);
}

.logo {
    width: 160px;
    height: 140px;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 0 10px;
}

.logo img {
    width: 90px;
}

.company {
    width: 100%;
    padding: 0 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.company p {
    font-size: 24px;
    color: var(--font);
    font-weight: bold;
}

.company span {
    color: var(--font-dark-gray);
    font-size: 16px;
    text-transform: lowercase;
    font-weight: 400;
}

.company a {
    width: 147px;
    height: 48px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    display: flex;
    color: var(--white);
    align-items: center;
    justify-content: center;
    background-color: var(--violet);
}

.company a:hover {
    cursor: pointer;
    background-color: var(--light-violet);
    transition: .2s ease-in-out;
}

.details {
    gap: 40px;
    width: 60vw;
    height: auto;
    display: flex;
    padding: 50px;
    border-radius: 10px;
    flex-direction: column;
    background-color: var(--card-bg);
}

.apply {
    display: flex;
    justify-content: space-between;
}

.apply p {
    font-size: 28px;
    color: var(--font);
    font-weight: bold;
}

.apply .post {
    color: var(--font-dark-gray);
    font-size: 16px;
    font-weight: 500;
}

.apply span {
    font-size: 14px;
    color: var(--violet);
    font-weight: bold;
    text-transform: capitalize;
}

.apply a {
    width: 147px;
    height: 48px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    display: flex;
    color: var(--white);
    align-items: center;
    justify-content: center;
    background-color: var(--violet);
}

.apply a:hover {
    cursor: pointer;
    background-color: var(--light-violet);
    transition: .2s ease-in-out;
}

.description {
    color: var(--font-dark-gray);
    font-size: 16px;
}

.reqirements {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.reqirements h3 {
    color: var(--font);
    font-size: 20px;
    font-weight: bold;
}

.reqirements p {
    color: var(--font-dark-gray);
    font-size: 16px;
}

.reqirements li {
    color: var(--violet);
    font-size: 16px;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item h3 {
    color: var(--font);
    font-size: 20px;
    font-weight: bold;
    text-transform: capitalize;
}

.item p {
    color: var(--font-dark-gray);
    font-size: 16px;
}

.item li {
    color: var(--violet);
    font-size: 16px;
    list-style: none;
    display: flex;
    gap: 20px;
}

.footer {
    margin: 4em 0 0 0;
    padding: 20px 0;
    width: 100vw;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--card-bg);
}

.foot {
    width: 60vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}

.foot p {
    color: var(--font);
    font-size: 20px;
    font-weight: bold;
}

.foot a {
    width: 147px;
    height: 48px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    display: flex;
    color: var(--white);
    align-items: center;
    justify-content: center;
    background-color: var(--violet);
}

.foot a:hover {
    cursor: pointer;
    background-color: var(--light-violet);
    transition: .2s ease-in-out;
}

@media screen and (max-width: 1024px) {
    .head {
        width: 84vw;
    }

    .details {
        width: 84vw;
    }

    .footer .foot {
        width: 84vw;
    }
}

@media screen and (max-width: 600px) {
    .head {
        height: 30em;
        border-radius: 6px;
        margin: 26% 0 1.5em 0;
    }

    .logo {
        position: absolute;
        top: -28px;
        left: 40%;
        width: 50px;
        height: 50px;
        border-radius: 15px;
    }
    
    .logo img {
        object-fit: scale-down;
    }

    .company {
        height: 200px;
        padding: 30px 50px;
        flex-direction: column;
    }

    .company p {
        line-height: 35px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .details {
        gap: 40px;
        padding: 30px;
    }
    
    .apply {
        gap: 40px;
        flex-direction: column;
    }
    
    .apply p {
        line-height: 1.3em;
        font-size: 22px;
    }

    .apply a {
        width: 100%;
    }

    .footer p{
        display: none;        
    }

    .footer a{
        width: 100%;
    }
}