.head {
    position: relative;
    bottom: 31vh;
    width: 60vw;
    height: 140px;
    display: flex;
    align-items: center;
    border-radius: 0 10px 10px 10px;
    background-color: #FFFFFF;
}

.logo {
    width: 160px;
    height: 140px;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 0 10px;
}

.logo img{
    width: 90px;

}

.company {
    width: 100%;
    padding: 0 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.company p {
    font-size: 24px;
    color: #19202D;
    font-weight: bold;
}

.company span {
    color: #6E8098;
    font-size: 16px;
    text-transform: lowercase;
    font-weight: 400;
}

.company a {
    width: 147px;
    height: 48px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #C9C9C9;
}

.company a:hover {
    cursor: pointer;
    background-color: #939BF4;
    transition: .2s ease-in-out;
}

.details {
    position: absolute;
    gap: 40px;
    top: 31vh;
    width: 60vw;
    height: auto;
    display: flex;
    padding: 50px;
    border-radius: 10px;
    flex-direction: column;
    background-color: #FFFFFF;
}

.apply {
    display: flex;
    justify-content: space-between;
}

.apply p {
    font-size: 28px;
    color: #19202D;
    font-weight: bold;
}

.apply .post {
    color: #6E8098;
    font-size: 16px;
    font-weight: 500;
}

.apply span {
    font-size: 14px;
    color: #5964E0;
    font-weight: bold;
    text-transform: capitalize;
}

.apply a {
    width: 147px;
    height: 48px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    display: flex;
    color: #FFFFFF;
    align-items: center;
    justify-content: center;
    background-color: #5964E0;
}

.apply a:hover {
    cursor: pointer;
    background-color: #939BF4;
    transition: .2s ease-in-out;
}

.description {
    color: #6E8098;
    font-size: 16px;
}

.reqirements {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.reqirements h3 {
    color: #19202D;
    font-size: 20px;
    font-weight: bold;
}

.reqirements p {
    color: #6E8098;
    font-size: 16px;
}

.reqirements li {
    color: #5964E0;
    font-size: 16px;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item h3 {
    color: #19202D;
    font-size: 20px;
    font-weight: bold;
    text-transform: capitalize;
}

.item p {
    color: #6E8098;
    font-size: 16px;
}

.item li {
    color: #5964E0;
    font-size: 16px;
    list-style: none;
    display: flex;
    gap: 20px;
}

footer {
    position:absolute;
    /* bottom: 0; */
    /* top: 180%; */
    left: 0;
    width: 100%;
    height: 96px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
}

.foot {
    width: 60vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}

.foot p {
    color: #19202D;
    font-size: 20px;
    font-weight: bold;
}

.foot a {
    width: 147px;
    height: 48px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    display: flex;
    color: #FFFFFF;
    align-items: center;
    justify-content: center;
    background-color: #5964E0;
}

.foot a:hover {
    cursor: pointer;
    background-color: #939BF4;
    transition: .2s ease-in-out;
}