<ng-container *ngIf="job">
    <div class="lg:mx-[25%] mx-[5%]">
      <div
        [ngClass]="{
          'md:-mt-20 -mt-10 rounded-[0.6rem] flex flex-col items-center md:flex-row': true,
          'bg-white': !isDarkTheme,
          'bg-[#19202d]': isDarkTheme
        }"
      >
        <div
          class="md:w-[14rem] flex items-center md:rounded-bl-[0.6rem] md:py-[5rem] p-[1rem] w-[5rem] h-[5rem] rounded-3xl md:rounded-none -mt-10 md:-mt-0"
          [style.background]="job.logoBackground"
        >
          <img [src]="job.logo" class="w-full" alt="company logo" />
        </div>
  
        <div
          class="flex flex-col md:flex-row text-center items-center w-full justify-between md:mx-16 my-8 md:text-left"
        >
          <div class="companyName">
            <h3
              [ngClass]="{
                'font-bold text-[2rem]': true,
                'text-[#19202D]': !isDarkTheme,
                'text-white': isDarkTheme
              }"
            >
              {{ job.company }}
            </h3>
            <p class="cursor-pointer">{{ job.website }}</p>
          </div>
  
          <div class="my-8 md:my-0">
            <a
              href="{{ job.website }}"
              [ngClass]="{
                'py-[1rem] px-[2rem] lg:px-[3rem] font-bold rounded-[0.5rem]': true,
                'bg-[#eeeffc] text-[#5964e0] hover:bg-[#939bf4]': !isDarkTheme,
                'bg-[#303642] text-white hover:bg-[#c9c9c9]': isDarkTheme
              }"
            >
              Company Site
            </a>
          </div>
        </div>
      </div>
  
      <div
        [ngClass]="{
          'bg-white mt-10 p-10 rounded-[0.6rem]': true,
          'bg-white': !isDarkTheme,
          'bg-[#19202d]': isDarkTheme
        }"
      >
        <div
          class="details flex md:flex-row flex-col items-center justify-between"
        >
          <div class="title">
            <div class="flex items-baseline gap-5">
              <p>{{ job.postedAt }}</p>
              <span
                class="w-[0.4rem] h-[0.4rem] rounded-full bg-[#6e8098]"
              ></span>
              <p>{{ job.contract }}</p>
            </div>
  
            <div class="name">
              <h3
                [ngClass]="{
                  'font-bold text-[1.5rem] md:text-[2rem] lg:text-[2.8rem] py-[0.8rem] px-0': true,
                  'text-[#19202D]': !isDarkTheme,
                  'text-white': isDarkTheme
                }"
              >
                {{ job.position }}
              </h3>
  
              <h4 class="font-bold text-[1.4rem] text-[#5964e0]">
                {{ job.location }}
              </h4>
            </div>
          </div>
  
          <div
            class="apply-btn my-12 md:my-0 flex justify-center w-full md:w-fit bg-[#5964e0] rounded-lg md:bg-transparent md:rounded-none"
          >
            <div>
              <Button class="button py-[1rem] px-[2rem] lg:px-[3rem]">
                Apply Now
              </Button>
            </div>
          </div>
        </div>
  
        <section class="description py-10">
          <p>
            {{ job.description }}
          </p>
        </section>
  
        <section class="requirements py-10">
          <h3
            [ngClass]="{
              'font-bold text-[2rem] pb-10': true,
              'text-[#19202D]': !isDarkTheme,
              'text-white': isDarkTheme
            }"
          >
            Requirements
          </h3>
  
          <p class="pb-5">
            {{ job.requirements.content }}
          </p>
  
          <div class="flex flex-col gap-6">
            <li *ngFor="let item of job.requirements.items">
              <span class="text-[#6e8098]">
                {{ item }}
              </span>
            </li>
          </div>
        </section>
  
        <section class="duties py-10">
          <h3
            [ngClass]="{
              'font-bold text-[2rem] pb-10': true,
              'text-[#19202D]': !isDarkTheme,
              'text-white': isDarkTheme
            }"
          >
            What You Will Do
          </h3>
  
          <p class="pb-5">
            {{ job.role.content }}
          </p>
  
          <div class="flex flex-col gap-6">
            <div *ngFor="let item of job.role.items; let i = index">
              <span class="text-[#5964e0] font-bold">
                {{ i + 1 }}
              </span>
              <span class="pl-3 text-[#6e8098]">
                {{ item }}
              </span>
            </div>
          </div>
        </section>
      </div>
    </div>
  
    <footer
      [ngClass]="{
        'lg:px-[25%] px-[5%]  mt-10 py-[2rem]': true,
        'bg-white': !isDarkTheme,
        'bg-[#19202d]': isDarkTheme
      }"
    >
      <div class="flex justify-between">
        <div class="companyName hidden md:block">
          <h3
            [ngClass]="{
              'font-bold text-[2rem]': true,
              'text-[#19202D]': !isDarkTheme,
              'text-white': isDarkTheme
            }"
          >
            {{ job.position }}
          </h3>
          <p class="capitalize py-2">
            {{ job.company }}
          </p>
        </div>
  
        <div
          class="apply-btn flex justify-center w-full md:w-fit bg-[#5964e0] rounded-lg md:bg-transparent md:rounded-none"
        >
          <div>
            <button class="button py-[1rem] px-[2rem] lg:px-[3rem]">
              Apply Now
            </button>
          </div>
        </div>
      </div>
    </footer>
  </ng-container>