:root {
  --check: #F4F6F8;
  --font: #19202D;
  --card-bg: #FFFFFF;
  --violet: #5964E0;
  --white: #FFFFFF;
  --light-violet: #939BF4;
  --font-dark-gray: #6E8098;
  --bg-desktop-main: #F4F6F8;
}

.dark {
  --check: #6E8098;
  --font: #FFFFFF;
  --card-bg: #19202D;
  --violet: #5964E0;
  --white: #FFFFFF;
  --light-violet: #939BF4;
  --font-dark-gray: #6E8098;
  --bg-desktop-main: #121721;
}

main {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 16vh;
  display: flex;
  padding: 0 10%;
  align-items: center;
  background-size: cover;
  border-radius: 0 0 0 5rem;
  background-repeat: no-repeat;
  justify-content: space-between;
  background-image: url("/assets/desktop/bg-pattern-header.svg");
}

.toggle {
  gap: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.toggle-btn #toggle {
  display: none;
}

.toggle-btn label {
  width: 42px;
  height: 20px;
  cursor: pointer;
  position: relative;
  border-radius: 50px;
  display: inline-block;
  background-color: var(--white);
}

.toggle-btn label::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 12px;
  height: 12px;
  background-color: var(--violet);
  border-radius: 50%;
  transition: 0.3s;
}

.toggle-btn label:hover::before {
  background-color: var(--light-violet);
  transition: .1s ease-in-out;
}


.toggle-btn #toggle:checked+label {
  background-color: var(--white);
}

.toggle-btn #toggle:checked+label::before {
  transform: translateX(20px);
}

.toggle-btn:hover {
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
    header {
      padding: 0 8%;
      border-radius: 0 0 0 4rem;
      background-image: url(../assets/tablet/bg-pattern-header.svg);
    }
}

@media screen and (max-width: 600px) {
  header {
    border-radius: 0;
    padding: 0 6%;
    background-image: url(../assets/mobile/bg-header-mobile.svg);
  }
}