<link rel="stylesheet" media="print" onload="this.media='all'">

<main>
  <header>
    <img [routerLink]="['/']" src="../assets/desktop/logo.svg" alt="">
    <div class="toggle">
      <img src="../assets/desktop/icon-sun.svg" alt="susn-icon">
      <div class="toggle-btn">
        <input type="checkbox" id="toggle" />
        <label for="toggle" onclick="toggle()"></label>
      </div>
      <img src="../assets/desktop/icon-moon.svg" alt="moon-icon">
    </div>
  </header>
  <!-- <section class="content"> -->
    <router-outlet />
  <!-- </section> -->
</main>