main {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

header {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 16vh;
  display: flex;
  padding: 0 11%;
  align-items: center;
  background-size: cover;
  border-radius: 0 0 0 10rem;
  background-repeat: no-repeat;
  justify-content: space-between;
  background-image: url("/assets/desktop/bg-pattern-header.svg");
}

.toggle {
  gap: 14px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.toggle-btn #toggle {
  display: none;
}

.toggle-btn label {
  width: 42px;
  height: 20px;
  cursor: pointer;
  position: relative;
  border-radius: 50px;
  display: inline-block;
  background-color: #FFFFFF;
}

.toggle-btn label::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 12px;
  height: 12px;
  background-color: #5964E0;
  border-radius: 50%;
  transition: transform 0.3s;

}

.toggle-btn label:hover::before {
  background-color: #939BF4;
  transition: .1s ease-in-out;
}


.toggle-btn #toggle:checked+label {
  background-color: #FFFFFF;
}

.toggle-btn #toggle:checked+label::before {
  transform: translateX(20px);
}

.toggle-btn:hover {
  cursor: pointer;
}