:root {
    --check: #F4F6F8;
    --font: #19202D;
    --card-bg: #FFFFFF;
    --violet: #5964E0;
    --white: #FFFFFF;
    --light-violet: #939BF4;
    --font-dark-gray: #6E8098;
    --bg-desktop-main: #F4F6F8;
}

.dark {
    --check: #6E8098;
    --font: #FFFFFF;
    --card-bg: #19202D;
    --violet: #5964E0;
    --white: #FFFFFF;
    --light-violet: #939BF4;
    --font-dark-gray: #6E8098;
    --bg-desktop-main: #121721;
}

.home {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.filter {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    margin: 6% 0 4em 0;
    width: 80%;
    height: 28%;
    display: flex;
    padding: 20px;
    border-radius: 10px;
    flex-direction: row;
    align-items: center;
    transform: translate(0, 0);
    background-color: var(--card-bg);
}

label {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.mobile-filter {
    display: none;
}

.company {
    gap: 20px;
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.company img {
    width: 24px;
    height: 24px;
}

.company input {
    width: 80%;
    font-size: 20px;
    color: var(--font);
    background-color: var(--card-bg);
    letter-spacing: .8px;
}

.company input:focus {
    outline: none;
}

.company::after {
    content: '';
    top: 0;
    right: 62%;
    opacity: .2;
    width: .1rem;
    height: 100%;
    margin: 0 1rem;
    position: fixed;
    background-color: var(--font-dark-gray);
}

.company:hover {
    cursor: pointer;
}


.location {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.location img {
    width: 17px;
    height: 24px;
}

.location input {
    width: 70%;
    font-size: 20px;
    color: var(--font);
    background-color: var(--card-bg);
    letter-spacing: .8px;

}

.location input:focus {
    outline: none;
}

.location::after {
    content: '';
    top: 0;
    right: 28%;
    opacity: .2;
    width: .1rem;
    height: 100%;
    margin: 0 1rem;
    position: fixed;
    background-color: var(--font-dark-gray);
}

.location:hover {
    cursor: pointer;
}

.contract {
    width: 28%;
    display: flex;
    font-size: 20px;
    font-weight: 500;
    color: var(--font);
    align-items: center;
    justify-content: space-between;
}

.checkmark {
    width: 24px;
    height: 24px;
    border-radius: 3px;
    background-color: var(--check);
}

.check {
    background-size: auto;
    background-color: var(--violet);
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../../../assets/desktop/icon-check.svg);
}

.checkmark:hover {
    cursor: pointer;
}

.contract .primary {
    width: 123px;
    height: 48px;
    color: var(--white);
    border-radius: 8px;
    background-color: var(--violet);

}

.contract .primary:hover {
    cursor: pointer;
    background-color: var(--light-violet);
}

.job {
    gap: 60px 33px;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.load-more {
    margin: 2em 0;
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.load-more button {
    width: 141px;
    height: 50px;
    padding: 5px;
    margin: 30px 0;
    color: var(--white);
    border-radius: 5px;
    background-color: var(--violet);
}

.load-more button:hover {
    cursor: pointer;
    background-color: var(--light-violet);
}

@media screen and (max-width: 1024px) {
    form {
        margin: 14% 0 8% 0;
        width: 84%;
    }

    .mobile-filter {
        display: none;
    }

    .company {
        width: 30%;
    }

    .company input {
        font-size: 16px;
        letter-spacing: .8px;
    }

    .company::after {
        content: '';
        top: 0;
        right: 68%;
        opacity: .2;
        width: .1rem;
        height: 100%;
        margin: 0 1rem;
        position: fixed;
        background-color: var(--font-dark-gray);
    }

    .location {
        width: 36%;
    }

    .location input {
        font-size: 16px;
    }

    .location::after {
        content: '';
        top: 0;
        right: 36%;
        opacity: .2;
        width: .1rem;
        height: 100%;
        margin: 0 1rem;
        position: fixed;
        background-color: var(--font-dark-gray);
    }

    .contract {
        width: 36%;
    }

    .contract p {
        font-size: 16px;
    }

    .contract span {
        display: none;
    }

    .contract .primary {
        width: 80px;
        height: 48px;
        font-size: 16px;
        border-radius: 5px;
    }

    .job {
        width: 84%;
        gap: 60px 20px;
    }
}

@media screen and (max-width: 600px) {
    form {
        margin: 22% 0 16% 0;
    }

    .backFilter {
        position: absolute;
        top: 0;
        right: 0;
        width: 100vw;
        height: 120vh;
        background-color: #121721af;
        transform: translate(8%, -13%);
    }

    .filterFields {
        width: 90%;
        padding: 20px;
        margin: 80% auto;
        border-radius: 6px;
        background-color: var(--card-bg);
    }

    .filterFields .loc {
        gap: 20px;
        margin: 0 0 1.2em 0;
        display: flex;
        align-items: center;
    }

    .filterFields .checkBox {
        gap: 20px;
        display: flex;
        flex-direction: column;
    }

    .filterFields .primary {
        width: 100%;
        height: 48px;
        border-radius: 8px;
        color: var(--white);
        background-color: var(--violet);
    }

    .mobile-filter {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .mobile-filter input {
        font-size: 16px;
        color: var(--font-dark-gray);
    }

    .mobile-filter input:focus {
        outline: none;
    }

    .mobile-filter .second {
        width: 48px;
        height: 48px;
        display: flex;
        border-radius: 5px;
        align-items: center;
        justify-content: center;
        background-color: var(--violet);
    }

    .company {
        display: none;
    }

    .location {
        display: none;
    }

    .contract {
        display: none;
    }
 
    .job {
        width: 84%;
        gap: 60px 20px;
    }

    .load-more {
        margin: 188% 0;
    }
}