<div class="home">
    <section class="filter">
        <form>
            <label class="mobile-filter">
                <input type="text" style="background-color: var(--card-bg);" placeholder="Filter by title..." #filter1>
                <div class="filter"
                    style="display: flex; align-items: center; justify-content: space-between; width: 25%;">
                    <img src="../../../assets/mobile/icon-filter.svg" alt="filter icon" class="filters"
                        (click)="toggleFields()">
                    <p class="second" type="button"
                        (click)="filterResults(filter1.value || location1.value || check1.value)">
                        <img src="../../../assets/mobile/icon-search.svg" alt="search icon">
                    </p>
                </div>
                <div class="backFilter" style="display: none;">
                    <div class="filterFields">
                        <div class="loc">
                            <img src="../../assets/desktop/icon-location.svg" alt="location icon">
                            <input style="background-color: var(--card-bg);" type="text"
                                placeholder="Filter by location…" #location1 />
                        </div>
                        <div class="checkBox">
                            <div style="display: flex; align-items: center; gap: 20px;">
                                <input type="checkbox" class="checkmark" (click)="toggleCheckmark()" #check1 />
                                <p style="font-size: 16px; font-weight: bold; color: var(--font);">Full Time
                                    <span>Only</span>
                                </p>
                            </div>
                            <button class="primary" type="button"
                                (click)="filterResults(filter.value || location.value || check.value)">Search</button>
                        </div>
                    </div>
                </div>
            </label>
            <label class="company">
                <img src="../../assets/desktop/icon-search.svg" alt="search icon" />
                <input class="input" type="text" placeholder="" #filter />
            </label>
            <label class="location">
                <img src="../../assets/desktop/icon-location.svg" alt="location icon">
                <input type="text" placeholder="Filter by location…" #location />
            </label>
            <label class="contract">
                <input type="checkbox" class="checkmark" (click)="toggleCheckmark()" #check />
                <p>Full Time <span>Only</span></p>
                <button class="primary" type="button"
                    (click)="filterResults(filter.value || location.value || check.value)">Search</button>
            </label>
        </form>
    </section>

    <section class="job">
        <app-job-locations *ngFor="let jobLocation of filteredLocationList" [jobLocation]="jobLocation" />
    </section>

    <section class="load-more">
        <button (click)="displayMoreJob()" *ngIf="noJobsLeft()">Load More</button>
    </section>
</div>