@import url(../../app.component.css);

.filter {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    form {
        position: relative;
        left: 0;
        top: 16vh;
        width: 78%;
        height: 7vh;
        display: flex;
        padding: 20px;
        border-radius: 10px;
        flex-direction: row;
        align-items: center;
        transform: translate(0, 0);
        background-color: var(--white);
    }

    label {
        display: flex;
        flex-direction: row;
        align-items: center;

        &.company {
            gap: 20px;
            width: 35%;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                width: 24px;
                height: 24px;
            }

            input {
                width: 80%;
                font-size: 20px;
                color: #19202D;
                letter-spacing: .8px;

                &:focus {
                    outline: none;
                }
            }

            &::after {
                content: '';
                top: 0;
                right: 62%;
                opacity: .2;
                width: .1rem;
                height: 100%;
                margin: 0 1rem;
                position: fixed;
                background-color: #6e8098;
            }

            &:hover {
                cursor: pointer;
            }
        }

        &.location {
            width: 40%;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;

            img {
                width: 17px;
                height: 24px;
            }

            input {
                width: 70%;
                font-size: 20px;
                color: #19202D;
                letter-spacing: .8px;

                &:focus {
                    outline: none;
                }
            }

            &::after {
                content: '';
                top: 0;
                right: 28%;
                opacity: .2;
                width: .1rem;
                height: 100%;
                margin: 0 1rem;
                position: fixed;
                background-color: #6e8098;
            }

            &:hover {
                cursor: pointer;
            }
        }

        &.contract {
            gap: 10px;
            width: 28%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: #19202D;
            font-weight: 500;

            input {
                /* display: hidden; */
                padding: 20px;
            }


            input:hover {
                cursor: pointer;
                background-color: var(--light-violet);
                transition: .3s ease-in-out;
            }

            .primary {
                width: 123px;
                height: 48px;
                color: var(--white);
                border-radius: 8px;
                background-color: var(--violet);

                &:hover {
                    cursor: pointer;
                    background-color: var(--light-violet);
                }
            }
        }
    }
}

.job {
    position: relative;
    gap: 50px 30px;
    padding: 0; 
    margin: 0;
    top: 25vh;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}