@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --white:  #FFFFFF;
    --violet: #5964E0;
    --bg-desktop-main: #F4F6F8;
  }

*,
*::before,
*::after, html {
    margin: 0;
    padding: 0;
    /* font-size: 62.5%; */
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: "Kumbh Sans", sans-serif;
    line-height: 2.6rem;
    font-size: 1.6rem;
    color: #5964e0;
    height: 100dvh;
    width: 100%;
}
