@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --check: #F4F6F8;
    --font: #19202D;
    --violet: #5964E0;
    --white: #FFFFFF;
    --light-violet: #939BF4;
    --font-dark-gray: #6E8098;
    --bg-desktop-main: #F4F6F8;
}

.dark {
    --check: #F4F6F8;
    --font: #19202D;
    --violet: #5964E0;
    --white: #FFFFFF;
    --light-violet: #939BF4;
    --font-dark-gray: #6E8098;
    --bg-desktop-main: #F4F6F8;
}

*,
*::before,
*::after,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-desktop-main);
    font-family: "Kumbh Sans", sans-serif;
    color: var(--violet);
    line-height: 2.6rem;
    font-size: 1.4rem;
    height: 100vh;
    width: 100%;
}