<section class="filter">
    <form action="">
        <label for="" class="company">
            <img src="../../assets/desktop/icon-search.svg" alt="">
            <input type="text" placeholder="Filter by title, companies, expertise…" />
        </label>
        <label for="" class="location">
            <img src="../../assets/desktop/icon-location.svg" alt="">
            <input type="text" placeholder="Filter by location…">
        </label>
        <label for="" class="job-type">
            <input type="checkbox">
            <span>Full Time Only</span>
            <button class="primary" type="button">Search</button>
        </label>
    </form>
</section>
<section class="job">
    <app-job-locations *ngFor="let jobLocation of jobLocationList" [jobLocation]="jobLocation" />
</section>