.role {
    position: relative;
    width: 472px;
    height: 258px;
    padding: 50px 30px 20px 30px;
    border-radius: 6px;
    background: var(--white);
}

.logo {
    position: absolute;
    top: -20px;
    left: 30px;
    width: 50px;
    height: 50px;
    object-fit: scale-down;
    border-radius: 10px 10px;
}

.posted{
    color: var(--font-dark-gray);
    font-size: 16px;
}

.position {
    margin: 100000px 0;
    font-size: 20px;
    font-weight: bold;
    color: var(--font);
}
.position:hover{
    cursor: pointer;
    color: var(--font-dark-gray);
}

.company {
    font-size: 16px;
    font-weight: 500;
    color: var(--font-dark-gray);
}

.location {
    font-size: 14px;
    font-weight: bold;
    color: var(--violet);
    padding: 10px 20px 20px 0;
}
