.role {
    position: relative;;
    width: 472px;
    height: 258px;
    padding: 50px 30px 20px 30px;
    border-radius: 6px;
    background: #FFFFFF;

    .logo {
        position: absolute;
        top: -20px;
        left: 30px;
        width: 50px;
        height: 50px;
        object-fit: scale-down;
        border-radius: 10px 10px;
    }

    .posted {
        color: #6E8098;
        font-size: 18px;
        line-height: 35px;
    }

    .position {
        font-size: 20px;
        font-weight: bold;
        color: #19202D;
        line-height: 45px;
    }

    .position:hover {
        cursor: pointer;
        color: #6E8098;
        line-height: 45px;
    }

    .company {
        font-size: 18px;
        font-weight: 500;
        color: #6E8098;
        line-height: 40px;
    }

    .location {
        font-size: 16px;
        font-weight: bold;
        color: #5964E0;
        padding: 10px 20px 20px 0;
        line-height: 75px;
    }
}